$commonPink: #fc5b62;
$buttonPink: #FFCDD2;
$buttonPinkText: #EF5350;
$commonGrey: #E5E5E5;
$decorGrey: #7D7D7D;
$postGrey: #EEEEEE;
$newGrey: #E0E0E0;
$commonWhite: #ffffff;
$basicBlack: #000000;
$postBlack: #212121;
