@import '../../styles/variables.scss';
@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.postsListUpcoming{
	@include dividingLine;
}

.postsListUpcoming::before{
	@include beforLine;
}

.postsListUpcoming::after{
	@include afterLine;
}

.postsListHistory{
	@include dividingLine;
}

.postsListHistory::before{
	@include beforLine;
}

.postsListHistory::after{
	@include afterLine;
}
.footerButton{
	width: 130px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	margin-bottom: 60px;
	margin-top: 40px;
}

.footerMeniu{
	margin-right: 10px;
}